@page "/fetchdata"
@inherits MvvmComponentBase<WeatherForecastsViewModel>


<div style="margin-top: 25px;">
    <div><h3 style="color: #000;">Weather Forecasts</h3></div>
    <div style="margin-top: 20px;">
        <div style="padding: 10px 0; background-color: #F0F0F0; font-size: .85rem;">
            <div style="padding: 10px 30px;">
                To use a view model with your component simply inherit from the base class
                <pre style="display: inline">MvvmComponentBase</pre> and specify your view model type for this component as a generic argument.
                Your view model will have access to all lifecycle methods you also have on your component.
                As soon as any value changes via the <pre style="display: inline">Set</pre> method on your view model the component will refresh if needed.
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 20px;">
    <div style="padding: 10px 0; background-color: #F0F0F0; font-size: .85rem;">
        <div style="padding: 10px 30px;">
            In list scenarios you often nest view models to achieve bindings on the list items. This is especially needed when the data of the item changes.
            You can click the randomize button and see that the list gets updated.
        </div>
    </div>
</div>

@if (Bind(x => x.Forecasts) == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="margin-top: 10px;"><button class="btn btn-primary" @onclick="@BindingContext.RandomizeData">Randomize</button></div>
    <div style="margin-top: 20px;">
        <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var forecast in Bind(x => x.Forecasts)!)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@Bind(forecast, x => x.TemperatureC)°C</td>
                    <td>@Bind(forecast, x => x.TemperatureF)°F</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}